
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root{
  --schemma-bg: #ffffff25;
  --schemma-text: #ebebebde;
  --schemma-border: #99bde6;
  --schemma-border-on: #fff;
}
/* #0093E9 *
#80D0C7 */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  min-height: 100vh;
  background: url(/public/images/bg.svg);
  background-position: 100% -5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #252525;
  color: var(--schemma-text);
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}
#container{
  width: 100%;
}
.converter{
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 1s;
}


@keyframes boom {
  0%{
    transform: scale(.7,.7);
  }
  50%{
    transform: scale(1.1,1.1);
  }
  100%{
    transform: scale(1,1);
  }
}
