footer{
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .footer_wrapper{
  padding: 3px 5px;
  border-radius: 5px 5px 0 0;

}
footer .footer_wrapper a{
  text-decoration: none;
  font-weight: 500;
  font-size: .9rem;
  text-align: center;
  color: var(--schemma-text);
}
footer .footer_wrapper .my{
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .footer_wrapper .my a{
  transition: 200ms;
}
footer .footer_wrapper .my a:hover{
  color: #17cf82;
}
footer .footer_wrapper .socials a:hover svg{
  transform: scale(1.1,1.1);
}
footer .footer_wrapper .socials a svg{
  fill: rgba(238, 253, 251, 0.61);
  transition: 200ms;
}
footer .footer_wrapper .socials a svg:hover{
  fill: #17cf82;
}